@charset "utf-8";
$designWidth: 750;
@function px( $px ) {
  @return $px*375/$designWidth/20 + rem;
}

@import "icon_rem.scss";
/* CSS reset */

html {
  background: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "Microsoft YaHei";
}

/*内外边距通常让各个浏览器样式的表现位置不同*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

a {
  text-decoration: none;
}

/* 要注意表单元素并不继承父级 font 的问题 */

input, select, img {
  vertical-align: middle
}

input, select {
  outline: none
}

input, select, textarea {
  font-size: 100%;
}

ul, ol {
  list-style: none
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

address, cite, dfn, em, var {
  font-style: normal;
}

/* 去掉 firefox 下此元素的边框 */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* 去除默认边框 */
fieldset, img {
  border: 0;
}

/* 一致的 del 样式 */
del {
  text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500;
}

/* 统一上标和下标 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*重排左对齐*/
caption, th {
  text-align: left;
}

/* IE bug fixed: th 不继承 text-align*/
th {
  text-align: inherit;
}

/*清除浮动*/
.clearfix:after,body:after{
  content: "";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}

.clearfix {
  zoom: 1;
}
body{
  position: relative;
  background-color: #000000;
  width: 100%;
  overflow: hidden;
  zoom: 1;
}
.mod-ground{
  width: px(7240);
  position: absolute;
  bottom: 0;
  left: 0;

  .m-ground{
    float: left;
    width:px(1810);
    height: px(832);
  }
  .m-ground1{
    background: url("../images/ground1.jpg") no-repeat center;
    background-size: cover;
  }
  .m-ground2{
    background: url("../images/ground2.jpg") no-repeat center;
    background-size: cover;
  }
  .m-ground3{
    background: url("../images/ground3.jpg") no-repeat center;
    background-size: cover;
  }
  .m-ground4{
    background: url("../images/ground4.jpg") no-repeat center;
    background-size: cover;
  }
}
.mod-pages{
  width: px(7240);
  height: 100%;
}
.mod-box{
  float: left;
  width: px(750);
  position: relative;
  height: 100%;
  .txt-box{
    position: absolute;
    p{
      color: #ffffff;
      font-size: px(28);
      line-height: px(58);
      white-space: nowrap;
    }
  }
}

.mod-page1{
    .ui1{
      @extend %spritesheet;
      @include ui1;
      position: absolute;
      top:px(190);
      left: px(154);
      z-index: 22;
    }
  .ui2{
    @extend %spritesheet;
    @include circle1;
    position: absolute;
    top:px(90);
    right: px(180);
    z-index: 222;
  }
  .earth{
    background: url("../images/earth.gif") no-repeat center;
    background-size: cover;
    width: px(500);
    height: px(500);
    position: absolute;
    right: px(-190);
    top: px(110);
  }
  .txt-box{
    top:px(294);
    left: px(70);
  }
}
.mod-page2{
  .ui1{
    @extend %spritesheet;
    @include planet1;
    position: absolute;
    top:px(70);
    right: px(-70);
  }
  .txt-box {
    top: px(390);
    left: 1px;
  }
}
.music-control{
  position: fixed;
  top:px(24);
  right: px(38);
  .icon img{
    width: px(76);
    height: px(86);
  }
}
.small-screen{
  .mod-ground{
    bottom:-12%;
  }
}